body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-header__nav {
    display: flex;
    background-color:darkslategray;
    width: 100%;
}

a.active {
    background-color:indigo;
    color: white;
    padding: 10px;
}
a {
    text-decoration: none;
    color:aliceblue;
}

.main_header__item-list {
    display: flex;
    list-style: none;
    justify-items: center;
    align-items: center;
    margin: auto;

}
.main-header__item {
    padding: 10px;
}

.container-product {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5px;
    width: 50%;
    align-items: center;
    margin: auto;

}
.container-product__item {
    padding: 10px;
    text-align: center;
}

.container-product__layout {
    background-color:cadetblue;
    padding:20px;
    border-radius: 10px;
}
.container-product__layout h1 {
    color: white;
    
}

.product-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.product-form {
    text-align: center;
}

.form-control {
    padding: 10px;
    width: 100%;
}
.form-control label {
    display: flex;
}
.form-control input {
    font-size: 15px;
    width: 100%;
}
.form-control textarea {
    width: 100%;
}